body {
    background-color: black;
    font-family: var(--font-dm-sans);
}

.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 300px;
    background-color: #000000;
    padding: 12px;
}

.sidebar .logo {
    background-color: #121212;
    display: flex;
    border-radius: 8px;
    padding: 16px 0 0 16px;
}

.sidebar .logo img {
    width: 80px;
}

.sidebar__navigation {
    background-color: #121212;
    border-radius: 8px;
    cursor: pointer;
}

.sidebar nav ul {
    list-style: none;
    margin-top: 20px;
    padding: 0px 20px 10px 20px;
}

.sidebar nav ul li {
    padding: 10px 0px;
}

.sidebar nav ul li a {
    color: #b3b3b3;
    font-weight: 600;
    font-size: 0.875rem; /* 14px */
    /* 1rem = 16px */
}

.sidebar nav ul li .fa {
    font-size: 20px;
    margin-right: 10px;
    font-weight: 300;
}

.sidebar nav ul li a:hover {
    color: #ffffff;
}

.library {
    background-color: #121212;
    border-radius: 8px;
    padding: 4px 8px;
    color: #b3b3b3;
    font-weight: 600;
    font-size: 14px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.library__content {
    display: flex;
    justify-content: space-between;
}

.library .library__button {
    margin-right: 10px;
    color: #b3b3b3;
    background-color: transparent;
    border: 0px;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    padding: 20px 10px;
    cursor: pointer;
    display: flex;
}

.library .library__button .fa {
    font-size: 20px;
    margin-right: 10px;
    font-weight: 300;
    padding-right: 8px;
}

.library .library__content .fa-plus {
    margin: 24px 10px;
    cursor: pointer;
}

.library .library__button span {
    font-size: 14px;
}

.section-playlist {
    background-color: #242424;
    color: #b3b3b3;
    font-weight: 600;
    font-size: 14px;
    margin: 8px 0px;
    padding: 16px 20px;
    border-radius: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.section-playlist .section-playlist__content {
    display: flex;
    flex-direction: column;
}

.section-playlist__content .text {
    padding-bottom: 14px;
    color: #fff;
}

.section-playlist__content .title {
    font-weight: 700;
}

.section-playlist__content .subtitle {
    font-weight: 500;
}

.section-playlist__content .section-playlist__button {
    background-color: #fff;
    color: #000;
    border-radius: 20px;
    font-size: 12px;
    font-weight: 700;
    text-decoration: none;
    text-transform: none;
    padding: 10px;
    margin-top: 12px;
    border: 0;
    width: 113px;
}

.sidebar .cookies {
    margin: 25px 20px;
}

.sidebar .cookies a {
    color: #b3b3b3;
    text-decoration: none;
    font-size: 10px;
    font-weight: 500;
}

.sidebar .cookies a:hover {
    text-decoration: underline;
}

.languages .languages__button {
    align-items: center;
    background-color: transparent;
    border: 1px solid #878787;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    margin: 8px;
    padding: 8px;
    border-radius: 20px;
    font-size: 16px;
}

.disclaimer-premium {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    color: #fff;
    padding: 15px 40px;
    background: linear-gradient(to right, #ae2896, #509bf5);

    display: flex;
    justify-content: space-between;
}

.disclaimer-premium .text {
    flex-shrink: 0;
}

.disclaimer-premium .disclaimer-premium__title {
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.disclaimer-premium .disclaimer-premium__subtitle {
    font-size: 14px;
    font-weight: 500;
}

.disclaimer-premium button {
    flex-shrink: 0;
    background-color: #fff;
    border-radius: 40px;
    border: 0;
    color: #000;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    padding: 14px 30px;
}